
.App1 {
    text-align: center;
    background-image: url("https://ak.picdn.net/shutterstock/videos/4979813/thumb/7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
  }

  .eki {
    display: flex;
    justify-content: space-between;
  }
  .lefft{
    margin-right: 15px;
  }

  .icon-box-content1 {
    border-radius: 50%;
    background: black;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    size: 16px;
  }
  .city{
    margin-left: 20px;
  }
  .clock{
    width: 120px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
  }

  .entry-media{
    float: none;
    height: none;
  }

  .news_image{
    height: 400px !important;
    width: 100%;
  }
  .news-btn{
    background: #f3f3f3;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1em;
    color: #999999;
    margin-top: -.4em;
    margin-bottom: 1em;
    padding: .5em 1em;
  }
  /* .btn-round{
    display: block;
    background: #F44336;
    width: 150px;
    text-align: center;
    padding: 2px 18px;
    margin-top: 20px;
    color: #fff;
    border-radius: 42px;
    font-size: 20px;
    margin-bottom: 30px;
    height: 50px;
  } */
  .btn-round:hover{
    color: #fff;
    background: #5d4f84;
  }

  .clickvse{
    cursor: pointer;
    font-weight: 500;
  }
  .custom-control-label::before{
    display: none;
  }
  .custom-control-label:hover{
    color: blue;
  }
  
  .custom-control-label{
    margin-left: -5.2rem;
  }
  .widget-collapsible .widget-title a::after{
    display: none;
  }

  .product-image{
    position: relative;
  }
  

  .images-s{
    height: 180px;
  }
  .button-otzyv{
    box-shadow: none;
    text-shadow: none;
    font-weight: normal;
    background: #f3f3f3;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 2px;
    padding: .5em 1em;
    text-transform: uppercase;
    line-height: 1em;
    color: #999999;
    outline: none;
    width: 200px;
  }
  .button-otzyv:hover{
    color: #fff;
    background: #5d4f84;
  }

  .wahtsapp{
    font-size: 13px;
    padding: 5px 18px;
    border: 2px solid #009688;
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    color: #009688;
    margin-right: auto;
    margin-left: 70px;
    margin-top: 30px;

  }


  .razmer{
    margin-top: 13px;
    padding: 2px 4px;
    background: #5d4f84;
    color: #fff;
    margin-left: 10px;
    border-radius: 10px;
  }

  .p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
  }

  .kol{
    text-align: center;
    overflow: visible;
    text-decoration: none;
    font-weight: 900;
    background: #624e87;
    width: 2.9em;
    height: 2.9em;
    outline: 0;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 2.9em;
  }

  .kol-input{
    display: inline-block;
    width: 3.077em;
    height: 3.077em;
    padding: 0;
    line-height: 2.077em;
    float: none;
    font-weight: 600;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: none;
    vertical-align: top;
    margin: 0;
    outline: none;
    color: #624e87;
    text-align: center;
  }
  .vse{
    padding-left: 5.4rem;
  }
  .s-title{
    color: red;
  }
  .korziny{

  }
  .korziny:hover{
    color: white !important; 
  }
  /* main */
  .icons-react{
    font-size: 3.692em;
    margin-left: 100px;
    margin-bottom: 20px;
  }
  .icons-react:hover{
    color: #f64946;
  }
  .dostovka{
    font-size: 18px;
    line-height: 1.5em;
    color: #2a2a2a;
  }
  .coat{
    width: 120px;
    height: 120px;
    margin-left: 40px;
  }
  .container-z{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
  }
  .cont{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10;
  }
  .cont-h4{
    font-size: 17px;
    font-weight: normal;
    margin: 0;
    color: #222;
    margin-bottom: 15px;

  }
  .input-z{
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 40px;
    padding: 0 10px;
    width: 100%;
    border-color: #777;
    margin-bottom: 10px;
  }
  .button-t{
    background-color:darksalmon;
    color: #555;
    padding: 10px 25px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin: 15px 0 0 0;
    border-color: #555;
  }
  @media screen and (max-width: 1366px){
  .container-z {
    max-width: 1140px;
    }
  } 

  /* dostavka */
  .uslovia{
    line-height: 1.5em;
    display: block;
    margin-block-start: 1em; 
    margin-block-end: 1em;
    margin-inline-start: 0px;
    font-size: 1.5em;
    margin-inline-end: 0px;
    color: #2a2a2a;
  }
  .d-li{
    color: black;
    list-style: outside;
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: 400;
  }
  .day-sima{
    font-weight: 400;
    color: black;
    line-height: 1.5em;
    font-size: 2.0em;
    margin-bottom: 40px;
  }
  .whatsapp{
    margin: 0 10px;
    float: left;
    position: fixed;
    top: 83%;
    left: 4%;
    width: 60px;
    height: 60px;
    z-index: 999;
    cursor: pointer;
  }
  /* about */
  .about-text1{
    font-weight: 400;
    color: black;
    line-height: 1.5em;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  /* product */
  .product-gallery-item::before{
    border: none;
  }
  .onsale{
    background: #111;
    border-radius: 0 0 4px 4px;
    padding: 0 10px 8px;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #fff;
  }
  .loop-product{
    
    margin: 0;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
  }