
  
  .clock-face {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Horlo%C4%9Do_001.svg/1200px-Horlo%C4%9Do_001.svg.png");
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	/* border: 2px solid black; */
	position: relative;
	display: flex;
	align-items: center;
	justify-content:center;
  }
  
  .hand {
	  transition: all 100ms cubic-bezier(1, 0.25, 0.63, 1.85);
	  position: absolute;
	  transform-origin: 50% 100%;
	  background-color: black;
  }
  
  .second-hand {
	width: 1px;
	height: 65px;
	background-color: red;
	border-radius: 3px;
  }
  
  .minute-hand {
	width: 2px;
	height: 55px;
	border-radius: 4px;
  }
  
  .hour-hand {
	width: 3px;
	height: 40px;
	border-radius: 5px;
  }